*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(29, 27, 27);
    color: white;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/615/294/495/artwork-deer-antlers-forest-wallpaper-3990080df11a5d7b7687880f2011c67d.jpg');
    /* background-attachment: scroll; */
    background-size: cover;

}
body::-webkit-scrollbar{
    display: none;
}

#screen{
    z-index: -999;
    max-width: 100%;
    max-height: 100%;
}

/* ---------------------------- subjects line --------------------- */

    


#container{
    position: relative;
    /*top: 15vh; */
    /* margin-top: 15vh; */
    margin-left: 7vh;
    margin-right: 7vh;
    border-radius: 10px;
    /* background-color: rgba(0,0,0,0.3); */
    /* border: 2px solid red; */
    /*height: 81vh; */
    /*width: 203vh; */
}
.subjectlist{
    /* border: 2px solid red; */
    padding-top: 20px;
}
#ulsl{
    display: flex;
}
.subjectlist ul li{
    list-style-type: none;
    padding: 10px 40px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    /* transform: scale(1,1); */
    /* border: 2px solid red; */
}
/* .subjectlist ul li:hover{
    box-shadow: 1px 1px 10px 1px #fff;
} */
.subjectlistactive{
    box-shadow: 1px 1px 10px 1px #fff;
    color: #b61313;
}
.list1{
    margin-left: 20px;
}
.list2{
    /* margin-right: -33px; */

}
.subjectlistline{
    /* position: fixed; */
    height: 30px;   
}
.subjectline{
    /* position: fixed; */
    margin-left: 20px;
    width: 63.3%;
    /* -webkit-margin-start: 40px; */
    -ms-margin-left: 90vh; 

}

li:active{
    /* -webkit-transition: 0.5s ;
    -moz-transition: 0.5s ;
    -ms-transition: 0.5s ;
    -o-transition: 0.5s ; */
    transform: scale(1.1, 1.1);
    /* transition: 0.9s; */
    /* transform: scaleY(1.1); */

}




/* ------------------------------  UNITS IMAGE -------------------------- */




#unitimg{
    /* display: none; */
    margin-top: 10vh;
    width: 35vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    /* border: 2px solid red; */
}
#unitimg img{
    width: 35vh;
    height: 45vh;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    /* border: 2px solid red; */
    transition:.5s ease-in-out;
}
#unitimg:hover img{
    transform: scale(1.1);
}




/* --------------  UNITS LIST  ---------------- */




#units{
    /* border: 2px solid red; */
    padding-top: 20px;
    position: relative;
    left: 55vh;
    top: -47.5vh;
    width: 60.5vh;
}
#units ul{
     display: flex;
     /* border: 2px solid red; */
     width: 61vh;
}
#units ul li{
    /* border: 2px solid red; */
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 2px; 
    cursor: pointer;
    /* border: 2px solid red; */
}
#units ul li:hover{
    /* color: #b61313; */
    /* box-shadow: 0px 0px 10px 1px #fff; */
}
#unitlist2{
    margin-top: 25px;
    margin-left: 10vh;
    /* transition: 0.5s; */
}
#unitslistline1{
    margin-top: 30px;
    width: 60vh;
}
#unitslistline2{
    margin-top: 30px;
    width: 60vh;
}
#qpaper{
    margin-top: 30px;
}
#lm{
    margin-top: 30px;
    margin-left: 15vh;
    /* transition: 0.5s; */
    font-size: large;
    letter-spacing: 2px;
    position: relative;
}
.unitlistactive{
    box-shadow: 0px 0px 10px 1px #fff;
}
.u-l:active{
    box-shadow: 0px 0px 10px 1px #fff; 
}




/* ----------------------- SIDE DISPLAY ----------------- */



 #display{
    width: 40vh;
    height: 40vh;
    background: rgba(0,0,0,0.0);
    /* border: 3px solid red; */
    /* margin-left: 150vh; */
    position: fixed;
    top: 35vh;
    left: 150vh;
}
#display ul{
    /* border: 3px solid red; */
    display: block;
    text-align: center;
    width: 40vh;
    height: 40vh;
    padding-top: 10vh;
}
#display ul li{
    list-style-type: none;
    height: 10vh;
    /* border: 3px solid red; */
}
#display ul li a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: large;
    font-style: oblique;
    /* border: 3px solid red; */
}
#display{
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.4),
    0 6px 20px 0 rgba(0,0,0,0.4); 
    /* box-shadow: 10px 0px 10px 0px #000; */
    opacity: 0;
}
/* #display:hover{
    box-shadow: 1px 1px 10px 2px #000,
    1px 1px 10px 2px #000;
} */


/* --------------------  others ------------------ */


#others{
    /* display: flex; */
    gap: 11vh;
    position: relative;
    top: -91.8vh;
    width: 100vh;
    /* border: 2px solid red; */
    display: none;
}
#othersimg1,#othersimg2{
    /* margin-top: 10vh; */
    width: 35vh;
    height: 50vh;
    /* border-radius: 10px;
    position: relative; */
    overflow: hidden;
    margin-left: 50px;
    /* border: 2px solid red; */
    text-align: center;
}
#oimg1,#oimg2{
    /* border: 2px solid red; */
    width: 35vh;
    height: 45vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
#othersimg1 img,#othersimg2 img{
    width: 35vh;
    height: 45vh;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    /* border: 2px solid red; */
    transition:.5s ease-in-out;
}
#othersimg1 img:hover, #othersimg2 img:hover{
    transform: scale(1.15);
}
#othersimg2 img{
    position: relative;
    left: 0vh;
    animation-name: apptitude;
    animation-duration: 1.5s;
}
@keyframes apptitude {
    from{left:35vh;}
    to{left: 0vh;}
}
#othersimg1 img{
    /* border: 2px solid red; */
    position: relative;
    left: 0vh;
    animation-name: dsa;
    animation-duration: 1.5s;
}
@keyframes dsa {
    from{left:-35vh;}
    to{left: 0vh;}  
}
/* #othersname1,#othersname2{
    border: 2px solid red;
    width: 40vh;
    height: 20px;
    position: relative;
    top: 48vh;
    margin-left: -30vh;
} */
#othersname1{
    position: relative;
    left: 0vh;
    /* border: 2px solid red; */
    animation-name: dsaname;
    animation-duration: 2s;
}
@keyframes dsaname {
    from{left:-35vh;}
    to{left: 0vh;}
}
#othersname2{
    position: relative;
    left: 0vh;
    /* border: 2px solid red; */
    animation-name: apptitudename;
    animation-duration: 2s;
}
@keyframes apptitudename {
    from{left:35vh;}
    to{left: 0vh;}
}




/* <form class="example" action="/action_page.php" style="margin:auto;max-width:500px">
      <input type="text" placeholder="Search our tutorials, e.g. HTML" id="search2" class="ga-fp" autocomplete="off" onkeydown="key_pressed_in_search(event)" oninput="find_search_results(this)" onfocus="find_search_results(this)">
      <button type="button" id="learntocode_searchbtn" onclick="click_learntocode_search_btn()"><i id="learntocode_searchicon" class="fa fa-search ga-fp"></i></button>
      <div id="listofsearchresults">
      </div>
    </form> */

@media only screen and (max-width:408px){
    body{
        color: #b61313;
    }
    #container{
        display: none;
    }
} 


















